{{- if and .Values.miggoRuntime.enabled .Values.miggoRuntime.profiler.enabled .Values.miggoRuntime.fluentbit.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: profiler-fluent-bit-config
  namespace: {{ include "miggo.namespace" . }}
data:
  fluent-bit.yaml: |
    service:
      flush: 5
      log_level: info

    pipeline:
      inputs:
        - name: tail
          path: /var/log/pods/${NAMESPACE}_${POD_NAME}_${POD_UID}/profiler/*.log
          parser: json
          tag: profiler
          refresh_interval: 5
          mem_buf_limit: 5MB
          skip_long_lines: On
          db: /tmp/fluentbit-profiler.db
          db.locking: true
          processors:
            logs:
              - name: opentelemetry_envelope
              - name: content_modifier
                context: otel_resource_attributes
                action: upsert
                key: service.name
                value: miggo-profiler
              - name: content_modifier
                context: otel_resource_attributes
                action: upsert
                key: cluster
                value: {{ .Values.miggo.clusterName }}
              - name: content_modifier
                context: otel_resource_attributes
                action: upsert
                key: type
                value: applog
              - name: content_modifier
                context: attributes
                action: upsert
                key: type
                value: applog
              - name: content_modifier
                context: attributes
                action: upsert
                key: node_name
                value: ${NODE_NAME}
              - name: content_modifier
                context: attributes
                action: upsert
                key: pod_hostname
                value: ${POD_NAME}
              - name: content_modifier
                context: attributes
                action: upsert
                key: cluster
                value: {{ .Values.miggo.clusterName }}
              - name: content_modifier
                context: attributes
                action: upsert
                key: serviceName
                value: miggo-profiler

      outputs:
        - name: opentelemetry
          match: profiler
          host: {{ (include "otlpEndpointHost" .) }}
          port: 4318
          logs_uri: /v1/logs
          log_response_payload: false
          tls: off

  parsers.conf: |
    [PARSER]
        Name   json
        Format json
{{- end }}