{{ if .Values.manager.enabled  }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: delayed-resources-rolebinding
subjects:
- kind: ServiceAccount
  name: delayed-resources-service-account
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: delayed-resources-role
  apiGroup: rbac.authorization.k8s.io
{{ end }}